.title {
    text-align: center;
    color: #bfbf17;
    font-style: italic;
    font-family: monospace;
    font-weight: bold;
    margin-top: 10px;
}
.top-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.btn-submit {
    margin-left: 10px;
}
.profile {
    /* display: flex;
    justify-content: center; */
}
.open-link {
    margin-top: 6px;
    margin-left: 60px;
}
.open-link-btn {
    margin-left: 20px;
    border: 1px solid #0d6efd;
    padding: 4px;
    text-decoration: none;
    border-radius: 3px;
}
