body {
    margin-left: auto;
    align-content: center;
}
.header {
    background-color: rgb(166, 233, 250);
    position: fixed;
    top: 0;
    box-shadow: 3px 1px rgb(172, 173, 173);
    z-index: 1;
    width: 100%;
    padding: 8px;
}
.h1 {
    font-size: medium;
}

#firstsection {
    background-color: aliceblue;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "montserrat";
    color: rgb(0, 204, 255);
    font-weight: bold;
    line-height: 1.5;
}
.btn {
    font-family: "Merriweather Sans", sans-serif;
    background-color: #319699;
    border-radius: 1rem;
    color: white;
    padding: 10px 20px;
    /* text-align: center; */
    text-decoration: none;
    font-size: 16px;
    text-shadow: 1px 1px darkgrey;
}
.btn:hover {
    font-family: "Merriweather Sans", sans-serif;
    background-color: rgb(26, 205, 250);
    border-radius: 1rem;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

ul {
    list-style: none;
}

h5 {
    color: rgb(0, 225, 255);
    margin: 2%;
}
.content img {
    border-radius: 50%;
}
.content h5 {
}
.carouselTop {
    text-align: center;
}
hr {
    border: dotted #03fdfd 6px;
    border-bottom: none;
    width: 4%;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 251, 255);
    padding: 2em;
    margin-top: 20px;
    text-align: left;
}
.contentText {
    margin-left: 4px;
}

#footer {
    text-align: center;
    background-color: rgb(166, 233, 250);
}
.footer-link {
    padding: 1%;
}
.title-paymet {
    margin-top: 12px;
    padding-top: 8px;
    color: #117a8b;
}
.payment-img {
    width: 64px;
    height: 64px;
}
.action-footer {
    padding: 15px;
}
.resize {
    width: 360px;
    height: 400px;
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}
.section.action {
    padding: 10px;
    font-size: 18px;
    margin-top: 2px;
}
.btn-download {
    font-size: 16px;
    font-weight: bold;
    background: #0e7143;
    border: solid 1px #367143;
    /* box-shadow: 1px 1px 1px 1px #367143; */
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}
.div-qeeda {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
